.laranja{
    background-color: #ff5b19;
}

.letra-preta{
    color: black;
    font-size: 6rem;
}

@media only screen and (max-width: 992px) and (min-width: 600px) { .letra-preta{ font-size: 3.7rem;}}
@media only screen and (max-width: 600px) { .letra-preta{ font-size: 2.2rem; font-weight: bold;}}

.azul{
    background-color: #288bc8;
}

.conteudo {
    line-height: 1.3;
    text-align: justify;
    font-size: 1.4rem;
    color: white;
  }

  .conteudo-preto {
    line-height: 1.3;
    text-align: center;
    font-size: 1.4rem;
    color: black;
    font-weight: bold;    
  }  

.espacamentosm {
    line-height: 0.8;
  }

.alinhacenter{
    margin: 0;
}

.navbar-text-white {
    line-height: 1;
    text-align: start;
    font-size: 0.6rem;
    color: white;
    text-decoration: none;
  }

  ul.a {list-style-type: square;}

  .conteudo-letramaior {
    line-height: 1;
    text-align: justify;
    font-size: 1.7rem;
    color: white;
    font-weight: bold;
  }

  td {
    background-color: #288bc8 !important;
  }

  #border-laranja{
    border-color: #ff5b19 !important;
  }

  #border-azul{
    border-color: #288bc8 !important;
  }

  .letra-laranja{
    color: #ff5b19;
    font-size: 4rem;
  }

  .letra-azul{
    color: #288bc8;
    font-weight: bold;
    margin-inline-start: 1.5rem;
  }
  
  figcaption.capbranco{
    color: white;
    font-weight: bold;
    font-size: 1.6rem ;
  }

  figcaption.capazul{
    color:#288bc8 ;
    font-weight: bold;
    font-size: 1.6rem ;
  }

  .letra-link{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    
  }
